<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<table style="border:1px solid #000000;">
  <tr>
    <th>Name  </th>
    <th>Size  </th>
    <th>Height  </th>
    <th>type  </th>
    <th>salary  </th>
  </tr>

    <% rows.forEach(function(r) { %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.size %></td>
        <td> <%= r.height %></td>
        <td> <%= r.type %></td>
        <td> <%= r.salary %></td
        </tr>
    <% }); %>
</table>

</div>

  <div>
  <canvas id="myCanvas" width="600" height="400" style="border:1px solid #000000;">

  </canvas>
</div>
<script>

var canvas=document.getElementById('myCanvas');
var l=10;
var sky=canvas.getContext("2d");

<% rows.forEach(function(r) { %>


sky.fillStyle="rgb(200,0,0)";
sky.fillRect(l,370,<%=r.size%>,<%=r.height%>);
l=l+<%=r.size%>+10;

<% }); %>


</script>

</body>
</html>
