<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>
<table style="border:1px solid #000000 ;">
  <tr style="border:1px solid #000000 ;">
    <th style="border:1px solid #000000 ;">Name  </th>
    <th style="border:1px solid #000000 ;">Size  </th>
    <th style="border:1px solid #000000 ;">Height  </th>
    <th style="border:1px solid #000000 ;">Type  </th>
    <th style="border:1px solid #000000 ;">Salary  </th>
  </tr>

    <% rows.forEach(function(r) { %>
      <tr style="border:1px solid #000000 ;">
        <td style="border:1px solid #000000 ;"><%= r.name %></td>
        <td style="border:1px solid #000000 ;"><%= r.size %></td>
        <td style="border:1px solid #000000 ;"> <%= r.height %></td>
        <td style="border:1px solid #000000 ;"> <%= r.type %></td>
        <td style="border:1px solid #000000 ;"> <%= r.salary %></td>
        </tr>
    <% }); %>
</table>

</div>

  <div>
  <canvas id="myCanvas" width="1600" height="400" style="border:1px solid #000000;">

  </canvas>
</div>
<script>

var canvas=document.getElementById('myCanvas');
var l=10;
var sky=canvas.getContext("2d");
var b='A';
<% rows.forEach(function(r) { %>
if('<%=r.type%>'=='A         '){

sky.fillStyle="rgb(200,0,0)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;

}
else if('<%=r.type%>'=='B         '){

sky.fillStyle="rgb(0,200,0)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;
}
else if('<%=r.type%>'=='C         '){

sky.fillStyle="rgb(0,0,200)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;
}
else{
  sky.fillStyle="rgb(200,40,120)";
  sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

  sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
  l=l+<%=r.size%>+10;
}

<% }); %>


</script>

</body>
</html>
