<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% rows.forEach(function(r) { %>

        <li><%= r.name %> - <%= r.size %> - <%= r.height %> - <%= r.type %> - <%= r.salary  %></li>
    <% }); %>
</ul>

</div>

  <div>
  <canvas id="myCanvas" width="600" height="400" style="border:1px solid #000000;">

  </canvas>
</div>

</body>
</html>
