<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% rows.forEach(function(r) { %>

        <li><%= r.name %> - <%= r.size %> - <%= r.height %> - <%= r.type %> - <%= r.salary  %></li>
    <% }); %>
</ul>

</div>
<div>
  <canvas width="1200" height="600" id="myCanvas" style="border:1px solid #000000;></canvas>
</div>
<script type="text/javascript">
console.log("1");
var canvas=document.getElementById("myCanvas");
console.log("2");
var sky=canvas.getContext("2d");
sky.fillStyle="rgb(200,0,0)";
sky.fillRect(10,20,30,40);
var l=10;
console.log(l);

</script>

</body>
</html>
