<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="./stylesheets/style.css" />
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">

<table >
  <caption> Database Results:</caption>
  <tr >
    <th >Name  </th>
    <th >Size  </th>
    <th >Height  </th>
    <th >Type  </th>
    <th >Salary  </th>
  </tr>

    <% rows.forEach(function(r) { %>
      <tr>
        <td ><%= r.name %></td>
        <td ><%= r.size %></td>
        <td > <%= r.height %></td>
        <td > <%= r.type %></td>
        <td > <%= r.salary %></td>
        </tr>
    <% }); %>
</table>

</div>

  <div>
  <canvas id="myCanvas" width="1600" height="400" style="border:1px solid #000000;">

  </canvas>
</div>
<div>
<p> Enter the name whose attribute you want to see:</p>
<form class="tyler" action="/seeuseratt" method="post">
  <p>Name:</p><input type="text" name="uname" placeholder="Enter name"><br>

  <input type="submit" name="add" value="Submit">
</form>



</div>
<script>


var canvas=document.getElementById('myCanvas');
var l=10;
var sky=canvas.getContext("2d");
var b='A';
<% rows.forEach(function(r) { %>
if('<%=r.type%>'=='A         '){

sky.fillStyle="rgb(200,0,0)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;

}
else if('<%=r.type%>'=='B         '){

sky.fillStyle="rgb(0,200,0)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;

}
else if('<%=r.type%>'=='C         '){

sky.fillStyle="rgb(0,0,200)";
sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
l=l+<%=r.size%>+10;

}
else{
  sky.fillStyle="rgb(200,40,120)";
  sky.fillRect(l,400-<%=r.height%>,<%=r.size%>,<%=r.height%>);

  sky.fillText("<%= r.name %>",l ,400-<%=r.height%> );
  l=l+<%=r.size%>+10;

}
<% }); %>








</script>

</body>
</html>
